<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kesiyas.spring.instagram.user.follow.dao.FollowDAO">
	<insert id="insertFollow" parameterType="int">
		INSERT INTO
			`follow`
		(
			`followeeId`
			, `followerId`
			, `createdAt`
		)
		VALUES
		(
			#{followeeId}
			, #{followerId}
			, now()
		)	
	</insert>
	
	<select id="selectCountFollowByFollowerId" parameterType="int" resultType="int">
		SELECT
			count(1)
		FROM
			`follow`
		WHERE 
			`followeeId` = #{followeeId}
			AND
		 	`followerId` = #{followerId}
	</select>
	
	<select id="selectFollowList" parameterType="int" resultType="com.kesiyas.spring.instagram.user.follow.model.Follow">
		SELECT
			`id`
			,`followeeId`
			, `followerId`
			, `createdAt`
		FROM
			`follow`
		WHERE
			`followerId` = #{loginUserId}
	</select>
	
	<delete id="deleteFollow" parameterType="int">
		DELETE 
		FROM
			`follow`
		WHERE 
			`followeeId` = #{followeeId}
			AND
		 	`followerId` = #{followerId}
	</delete>	

</mapper>
