<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kesiyas.spring.instagram.user.follow.dao.FollowDAO">
	<insert id="insertFollow" parameterType="int">
		INSERT INTO
			`follow`
		(
			`followeeId`
			, `followerId`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{followeeId}
			, #{followerId}
			, now()
			, now()
		)
	
	</insert>
</mapper>
