@charset "UTF-8";

header {
	border: solid 3px white;
 	border-bottom-color: #dddddd;
}

.contents {
}

.contents > .content-margin {
	margin-bottom: 110px;
	margin-top: 110px;
}
.contents .login-div {
	width:400px;
	height:400px;
	border: solid 3px #dddddd;

}

.contents .login-div .login-box{
	width:300px;
	
} 

.contents > .box{
	border: solid 3px #dddddd;
	width:600px;
}

.contents .border-bottom-color {
	border: solid 3px white;
	border-bottom-color: #dddddd;
}

.contents .box .font-size {
	font-size: 18px;
}

.contents .box .btn-float-right {
	float: right;
}

footer { 
	border: solid 3px white;
 	border-top-color: #dddddd;
}